/* Estilos para la tabla */
table {
    width: 85%;
    border-collapse: collapse;
}

/* Estilos para las filas */
tr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en varias filas */
}

/* Estilos para las celdas */
td {
    border: 1px solid black;
    width: 20%; /* Ajusta el ancho de cada imagen para que haya 3 por fila */
    margin: 1%;
}

/* Estilos para las imágenes */
img {
    width: 100%;
    height: auto; /* Mantiene la proporción de las imágenes */
    max-width: 262px; /* Tamaño máximo para que no sean demasiado grandes */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    td {
        flex: 1 1 45%; /* Ajusta el tamaño de las celdas para pantallas medianas */
    }
}

@media (max-width: 480px) {
    td {
        flex: 1 1 100%; /* Las imágenes ocupan el 100% del ancho disponible en pantallas pequeñas */
    }
}
.text{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #c0c2d0;
}